body {
  background-color: rgb(175, 190, 218);
  font-size: 30px;
  margin: 5px;
}

h1 {
  color: rgb(250, 10, 10);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 300%;
}
p {
  color: black;
  margin: 20px;
}

img.align-center {
  display: block;
  margin: 0px auto;
}

img.align-right {
  float: right;
  margin-right: 2%;
}

img.medium {
  width: 58%;
}
p.two {
  color: red;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 125%;
  Margin-top: 20px;
}

section {
  margin: 40px;
  width: 50%;
  background-color: rgb(164, 180, 216);
}

ul {
  list-style-type: square;
  list-style-position: inside;
  margin: 40px;
  width: 35%;
  line-height: 1.25;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 10%;
  color: rgb(24, 20, 20);
  line-height: 1.15;
}

ol.two{
  color: black;
  margin-left: 7%;
  margin-top: 3px;
}

img.large {
  width: 100%;
  }

section.two {
  color: black;
  width: 35%;
  margin: 38px;
  line-height: 1;
  padding: 9px;
}

ul.one {
  background-color: rgb(174, 170, 216);
  padding: 7px;
}